<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title">Change your password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field">
          <%= f.label :password, "New password" ,class:"label"%><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password",class:"control input" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password",class:"label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"control input"%>
        </div>
        <div class="actions">
          <%= f.submit "Change my password",class:"button is-success" %>
        </div>
      </div>
    </div>
  </section>
<% end %>
