<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4 box">
      <h2 class="title">ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email ,class: "label"%>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"control input" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :password,class: "label" %>
          <div >
            <%= f.password_field :password, autocomplete: "current-password",class:"control input" %>
          </div>
        </div>
        <div class="field">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me%>
        </div>
        <div class="field is-grouped">
          <div>
            <%= f.submit "Log in",class:"button is-success" %>
          </div>
        </div>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
    </div>
  </section>
<% end %>
