<section class="section">
  <div>
    <h2 class="h2">勤怠テーブル</h2>
  </div>
  <span style="display: none" id="dateId">
    <%= @dateindex + 1 %>
  </span>
  <span style="display: none" id="currentDateId">
    <%= @cuurentdateindex + 1 %>
  </span>
  <span id="userId" style="display: none">
    <%= @user.id %>
  </span>
  <div class="columns" style="align-items:normal">
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/assets/200x200.png" alt="Placeholder image" height="200" width="300">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">登録画面</p>
            </div>
          </div>
          <div class="content">
            <p>アカウントを新しく登録するための画面です</p>
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="block" style="width:100%">
        <span id="left-icon-arrow" class="icon">
          <i class="fas fa-arrow-left is-size-3"></i>
        </span>
        <span id="today" class="is-size-3"><%= @today.strftime("%Y/%m") %></span>
        <% if @isviewrightarrow %>
        <span id="right-icon-arrow" class="icon">
          <i class="fas fa-arrow-right is-size-3"></i>
        </span>
        <% end %>
        <button class="button is-link ml-5" id="startTime">出勤</button>
        <button class="button is-link" id="endTime">退勤</button>
        <button class="button is-primary ml-5" id="csvExport">csv出力</button>
        <button class="button is-primary" id="xlsxExport">excell出力</button>
      </div>
      <div class="block">
        <table class="table table-striped" style="width:100%"
        >
          <thead>
          <tr>
            <th>作業月</th>
            <th>所定時間</th>
            <th>稼働時間</th>
            <th>時間外</th>
            <th>稼働日数</th>
            <th>給与</th>
            <th>月の承認</th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          </tbody>
        </table>
      </div>
      <div class="block">
        <table class="table" style="width:100%"
        >
          <thead>
          <tr>
            <th>編集</th>
            <th>区分</th>
            <th>日付</th>
            <th>開始</th>
            <th>所定終了</th>
            <th>終了</th>
            <th>休憩</th>
            <th>実働</th>
            <th>時間外</th>
            <th>承認</th>
            <th>日報</th>
          </tr>
          </thead>
          <tbody>
          <p>

          </p>
          <% @daylist.each.with_index(1) do |day, index| %>
            <% attendance = @attendances.detect { |attendance| attendance.id == @dateindex + index } %>
            <tr>
              <td class="id" style="display:none">
                <%= @dateindex + index %>
              </td>
              <td>
                <% if attendance %>
                  <%= link_to "編集", edit_attendance_path(id: @dateindex + index), class: "button is-primary" %>
                <% else %>
                  <%= link_to "作成", new_attendance_path(id: @dateindex + index), class: "button is-primary" %>
                <% end %>
              </td>
              <td>
                出勤
              </td>
              <td>
                <%= !attendance || !attendance.date ? day : attendance.date %>
              </td>
              <td class="start-time">
                <%= attendance ? attendance.start_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <%= attendance ? attendance.end_default_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <%= attendance ? attendance.end_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <%= attendance ? attendance.rest_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <%= attendance ? attendance.actual_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <%= attendance ? attendance.rest_time&.strftime("%H:%M") : "" %>
              </td>
              <td>
                <button class="button is-primary">承認依頼</button>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" %>
<%= javascript_include_tag "abc.js" %>
